* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display:flex;
    min-height: 100vh;
    height:100vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    font-family: sans-serif;
    font-size: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grid-settings {
    display: flex;
    flex-direction: row-reverse;
}
.container {
display:grid;
height: 600px;
width: 600px;
margin-right: 214px;
}
.newColor {
    background-color: white;
}
.settings {
    margin-right: 50px;
}

.erase-On {
    background-color: white;
}